.comment {
    margin-left: 20px;
}
.green {
    color: green;
    float: right;
    margin: 0px 10px;
}
.red {
    color: red;
    margin: 0px 10px;
    float: right;
}
button {
    float: right;
}
a {
    text-decoration: none;
    color: steelblue;
    font-weight: bold;
}
.error {
    color: red;
}